In [5]:
import numpy as np
import geopandas as  gpd

In [9]:
county_df = gpd.read_file('cb_2018_us_county_500k/cb_2018_us_county_500k.shp')
cities_df = gpd.read_file('cities/citiesx010g.shp')

In [10]:
cities_df.head()

,GNIS_ID,ANSICODE,FEATURE,FEATURE2,NAME,POP_2010,COUNTY,COUNTYFIPS,STATE,STATE_FIPS,LATITUDE,LONGITUDE,PopPlLat,PopPlLong,ELEV_IN_M,ELEV_IN_FT,geometry
0,1028750.0,1036000,Civil,-999,Dunseith,773.0,Rolette,079,ND,38,48.813057,-100.060968,48.813057,-100.060968,520.0,1706.0,POINT (-100.06097 48.81306)
1,1030349.0,1036174,Civil,-999,Mylo,20.0,Rolette,079,ND,38,48.635278,-99.618756,48.635278,-99.618756,504.0,1654.0,POINT (-99.61876 48.63528)
2,1027718.0,1035912,Civil,-999,Antler,27.0,Bottineau,009,ND,38,48.970853,-101.282380,48.970853,-101.282380,468.0,1535.0,POINT (-101.28238 48.97085)
3,1028083.0,1035936,Civil,County Seat,Bottineau,2211.0,Bottineau,009,ND,38,48.827230,-100.445698,48.827230,-100.445698,499.0,1637.0,POINT (-100.44570 48.82723)
4,1029080.0,1036050,Civil,-999,Gardena,29.0,Bottineau,009,ND,38,48.700837,-100.497639,48.700837,-100.497639,447.0,1467.0,POINT (-100.49764 48.70084)

In [13]:
cities_df.dtypes

GNIS_ID        float64
ANSICODE        object
FEATURE         object
FEATURE2        object
NAME            object
POP_2010       float64
COUNTY          object
COUNTYFIPS      object
STATE           object
STATE_FIPS      object
LATITUDE       float64
LONGITUDE      float64
PopPlLat       float64
PopPlLong      float64
ELEV_IN_M      float64
ELEV_IN_FT     float64
geometry      geometry
dtype: object

# Part: Load and prepare the geopandas dataframes

In [50]:
cities_df_final = cities_df.loc[cities_df['STATE'].isin(['IA', 'SD', 'IL', 'MN','IN'])]
cities_df_final.head()

,GNIS_ID,ANSICODE,FEATURE,FEATURE2,NAME,POP_2010,COUNTY,COUNTYFIPS,STATE,STATE_FIPS,LATITUDE,LONGITUDE,PopPlLat,PopPlLong,ELEV_IN_M,ELEV_IN_FT,geometry
191,644967.0,664474,Civil,-999,Hill City,633.0,Aitkin,001,MN,27,46.993285,-93.598562,46.993285,-93.598562,408.0,1339.0,POINT (-93.59856 46.99328)
237,649445.0,665301,Civil,County Seat,Pine City,3123.0,Pine,115,MN,27,45.826067,-92.968542,45.826067,-92.968542,290.0,951.0,POINT (-92.96854 45.82607)
260,1256558.0,1267485,Civil,County Seat,Mound City,71.0,Campbell,021,SD,46,45.725270,-100.068452,45.725270,-100.068452,525.0,1722.0,POINT (-100.06845 45.72527)
261,1254373.0,1267329,Civil,-999,Claremont,127.0,Brown,013,SD,46,45.671898,-98.015660,45.671898,-98.015660,397.0,1302.0,POINT (-98.01566 45.67190)
262,1265162.0,1267335,Civil,-999,Columbia,136.0,Brown,013,SD,46,45.613024,-98.312598,45.613024,-98.312598,397.0,1302.0,POINT (-98.31260 45.61302)

In [53]:
cities_df_final = cities_df_final.drop(['COUNTY', 'COUNTYFIPS'],axis=1)

In [52]:
cities_df_final.head()

,GNIS_ID,ANSICODE,FEATURE,FEATURE2,NAME,POP_2010,STATE,STATE_FIPS,LATITUDE,LONGITUDE,PopPlLat,PopPlLong,ELEV_IN_M,ELEV_IN_FT,geometry
191,644967.0,664474,Civil,-999,Hill City,633.0,MN,27,46.993285,-93.598562,46.993285,-93.598562,408.0,1339.0,POINT (-93.59856 46.99328)
237,649445.0,665301,Civil,County Seat,Pine City,3123.0,MN,27,45.826067,-92.968542,45.826067,-92.968542,290.0,951.0,POINT (-92.96854 45.82607)
260,1256558.0,1267485,Civil,County Seat,Mound City,71.0,SD,46,45.725270,-100.068452,45.725270,-100.068452,525.0,1722.0,POINT (-100.06845 45.72527)
261,1254373.0,1267329,Civil,-999,Claremont,127.0,SD,46,45.671898,-98.015660,45.671898,-98.015660,397.0,1302.0,POINT (-98.01566 45.67190)
262,1265162.0,1267335,Civil,-999,Columbia,136.0,SD,46,45.613024,-98.312598,45.613024,-98.312598,397.0,1302.0,POINT (-98.31260 45.61302)

In [23]:
cities_df.loc[cities_df.NAME=='Sioux City']

,GNIS_ID,ANSICODE,FEATURE,FEATURE2,NAME,POP_2010,COUNTY,COUNTYFIPS,STATE,STATE_FIPS,LATITUDE,LONGITUDE,PopPlLat,PopPlLong,ELEV_IN_M,ELEV_IN_FT,geometry
447,461653.0,468720,Civil,County Seat,Sioux City,82684.0,Woodbury,193,IA,19,42.499994,-96.400307,42.499994,-96.400307,366.0,1201.0,POINT (-96.40031 42.49999)

In [34]:
county_df.columns

Index(['STATEFP', 'COUNTYFP', 'COUNTYNS', 'AFFGEOID', 'GEOID', 'NAME', 'LSAD',
       'ALAND', 'AWATER', 'geometry'],
      dtype='object')

In [35]:
county_df[['STATEFP','COUNTYFP','GEOID','NAME']]

     STATEFP COUNTYFP  GEOID       NAME
0         21      007  21007    Ballard
1         21      017  21017    Bourbon
2         21      031  21031     Butler
3         21      065  21065     Estill
4         21      069  21069    Fleming
...      ...      ...    ...        ...
3228      31      073  31073     Gosper
3229      39      075  39075     Holmes
3230      48      171  48171  Gillespie
3231      55      079  55079  Milwaukee
3232      26      139  26139     Ottawa

[3233 rows x 4 columns]